.a{
	border: none;
	background-color: #66ccff;
	background-size: 100% 20px;
	color:"fff";
	cursor: pointer;
	transition: background-color 0.2s ease;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 320%;
	text-align:center;
	margin-right: 50%;
	margin-left: 50%;
	color: #0099aa;
	text-decoration: none;
	background-color: rgba(109,195,177, 0.5);
 	position: absolute;
 	top: 10%;
}
.a:active{
	background-color: rgba(47,180,77,0.5);
}
